{
  :aliases {
    :test {
      :extra-paths ["test"]
        :extra-deps {
          com.cognitect/test-runner {
            :git/url "https://github.com/cognitect-labs/test-runner.git"
              :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"
          }
        }
      :main-opts ["-m" "cognitect.test-runner"]
    }
  }
  :deps {
    Richard-Hanley/encode-binary {
      :git/url "https://github.com/Richard-Hanley/encode-binary" 
      :sha "2a0c423d7098f5a7a75a1ec7ff3ab2c231c1a30a"
      }
    org.clojure/clojure {:mvn/version "1.10.0"}
    org.clojure/test.check {:mvn/version "0.9.0"} 
    org.clojure/spec-alpha2 {
      :git/url "https://github.com/clojure/spec-alpha2.git" 
      :sha "c01c6aee1d048591a19bb71c3aa0c3172011ec2e"
    }
  }
}
